body {
    font-family: 'Lilita One', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;
    padding: 0px 100px;
    padding-top: 20px;
    background-color: #e554732a;
}

header>img {
    width: 400px;
}

.header-title {
    font-size: 40px;
}

.button {
    border: 0px;
    border-radius: 5px;
    padding: 15px 35px;
    color: white;
    background: #e55473;
}


/* feature section  */
.flower-feature{
    margin-top: 100px;
    margin-bottom: 100px;
}

.feature_header {
    display: flex;
    justify-content: center;
}

.feature_header>div {
    text-align: center;
    width: 500px;
}

.flower-trees{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px 150px;
}

.flower-trees p{
    text-decoration: underline;
    text-align: center;
}

#pink-flower > img{
    background-color: #a7216223;
    width: 70%;
    padding: 45px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    padding-bottom: 0px;
}

#blue-flower > img{
    background-color: #0598a02f;
    height: 0%;
    width: 70%;
    padding: 45px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    /* padding-bottom: 0px; */
}

#yellow-flower > img{
    background-color: #477d112a;
    width: 70%;
    padding: 45px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    padding-top: 5px;
    padding-bottom: 0px;
}


/* hot deal section  */
.deal-section{
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    background-color: #e554732a;
    padding: 30px 100px;
}

.red-text{
    color: #e55473;
}




/* instagram section  */
#instagram-section{
    padding: 0px 100px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
#instagram-section > div{
    display: flex;
    justify-content: center;
}
.insta-texts{
    width: 50%;
    margin-bottom: 10px;
}
#insta-images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#insta-images img{
    width: 250px;
}



/* footer section  */
footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 50px;
    text-align: center;
}

footer > div{
    width: 50%;
}

footer small{
    color: gray;
}